<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collapsible Sidebar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
   <div class="sidebar" id="sidebar">
    <div class="menu-items">
        <div class="menu-item active" data-page="home">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="text">Home</span>
        </div>
        
        <div class="menu-item" data-page="favourites">
            <span class="icon"><i class="fa-regular fa-heart"></i></span>
            <span class="text">Favourites</span>
        </div>
        
        <div class="menu-item" data-page="downloads">
            <span class="icon"><i class="fa-regular fa-circle-down"></i></span>
            <span class="text">Downloads</span>
        </div>
        
        <div class="menu-item" data-page="feedback">
            <span class="icon"><i class="fa-regular fa-message"></i></span>
            <span class="text">Feedback</span>
        </div>
        
        <div class="menu-item" data-page="help">
            <span class="icon"><i class="fa-regular fa-circle-question"></i></span>
            <span class="text">Help</span>
        </div>
    </div>
        
        <div class="toggle-btn" id="toggleBtn">
            <span>❮</span>
        </div>
    </div>

</body>
</html>